# Numbers

Values of the number type are, unsurprisingly, numeric values. In a JavaScript program, they are written as follows:

In [6]:
13

13

Fractional numbers are written by using a dot

In [7]:
9.81

9.81

For very big or very small numbers, you may also use scientific notation by adding an e (for exponent), followed by the exponent of the number

In [8]:
2.998e8

299800000

## Arithmetic

Arithmetic operations such as addition or multiplication take two number values and produce a new number from them. Here is what they look like in JavaScript:

In [9]:
100 + 4 * 11

144

In [10]:
(100 + 4) * 11

1144

The % symbol is used to represent the remainder operation (modulo)

In [11]:
314 % 100

14

## Special numbers

There are three special values in JavaScript that are considered numbers but don’t behave like normal numbers

The first two are **Infinity and -Infinity**, which represent the positive and negative infinities

Infinity - 1 is still Infinity

In [12]:
Infinity - 1

Infinity

NaN stands for “not a number”

You’ll get this result when you, for example, try to calculate 0 / 0 (zero divided by zero), Infinity - Infinity, or any number of other numeric operations that don’t yield a meaningful result

In [13]:
0 / 0

NaN

In [14]:
Infinity - Infinity

NaN

# Strings

Strings are used to represent text. They are written by enclosing their content in quotes

You can use single quotes, double quotes, or backticks to mark strings

In [15]:
`Down on the sea`

'Down on the sea'

In [16]:
"Lie on the ocean"

'Lie on the ocean'

In [17]:
'Float on the ocean'

'Float on the ocean'

Whenever a backslash (\) is found inside quoted text, it indicates that the character after it has a special meaning. This is called escaping the character

A quote that is preceded by a backslash will not end the string but be part of it

In [18]:
console.log("This is the first line\nAnd this is the second")

This is the first line
And this is the second

In [19]:
console.log("A newline character is written like \"\\n\".")

A newline character is written like "\n".

The following line will produce the string "concatenate":

In [20]:
"con" + "cat" + "e" + "nate"

'concatenate'

**Backtick-quoted strings, usually called template literals,** can do a few more tricks

When you write something inside **${} in a template literal, its result will be computed,** converted to a string, and included at that position

In [21]:
`half of 100 is ${100 / 2}`

'half of 100 is 50'

# Unary operators

Operators that use two values are called binary operators, while those that take one are called unary operators

typeof operator: produces a string value naming the type of the value you give it

In [22]:
console.log(typeof 4.5)

number

In [23]:
console.log(typeof "x")

string

# Boolean values

JavaScript has a Boolean type, which has just two values, true and false

## Comparison

Here is one way to produce Boolean values:

In [24]:
console.log(3 > 2)

true

In [25]:
console.log(3 < 2)

false

Strings can be compared in the same way

In [26]:
console.log("Aardvark" < "Zoroaster")

true

**Uppercase letters are always “less” than lowercase ones,** so "Z" < "a", and nonalphabetic characters (!, -, and so on) are also included in the ordering

When comparing strings, JavaScript goes over the characters from left to right, comparing the Unicode codes one by one

Other similar operators are **>= (greater than or equal to), <= (less than or equal to), == (equal to), and != (not equal to)**

In [27]:
console.log("Itchy" != "Scratchy")

true

In [28]:
console.log("Apple" == "Orange")

false

There is only one value in JavaScript that is not equal to itself, and that is NaN (“not a number”)

In [29]:
console.log(NaN == NaN)

false

NaN is supposed to denote the result of a nonsensical computation, and as such, it isn’t equal to the result of any other nonsensical computations

## Logical operators

JavaScript supports three logical operators: and, or, and not. These can be used to “reason” about Booleans

**The && operator represents logical and**

In [30]:
console.log(true && false)

false

In [31]:
console.log(true && true)

true

The || operator denotes logical or

In [32]:
console.log(false || true)

true

In [33]:
console.log(false || false)

false

Not is written as an exclamation mark (!). It is a unary operator that flips the value given to it

In [34]:
console.log(!true)

false

When mixing these Boolean operators with arithmetic and other operators, it is not always obvious when parentheses are needed

In [35]:
1 + 1 == 2 && 10 * 10 > 50

true

|| has the lowest precedence, then comes &&, then the comparison operators (>, ==, and so on), and then the rest

**Conditional operator (ternary operator)**

The value on the left of the question mark “picks” which of the other two values will come out. When it is true, it chooses the middle value, and when it is false, it chooses the value on the right

In [36]:
console.log(true ? 1 : 2);

1

In [37]:
console.log(false ? 1 : 2);

2

# Empty values

There are two special values, written **null** and **undefined**, that are used to **denote the absence of a meaningful value**. They are themselves values, but they carry no information

Many operations in the language that don’t produce a meaningful value yield undefined simply because they have to yield some value

The difference in meaning between undefined and null is an accident of JavaScript’s design, I recommend treating them as mostly **interchangeable**

In [38]:
null

null

In [39]:
undefined

# Automatic type conversion

When an operator is applied to the “wrong” type of value, JavaScript will quietly convert that value to the type it needs, this is called **type coercion**

The null in the first expression becomes 0

In [40]:
console.log(8 * null)

0

The "5" in the second expression becomes 5 (from string to number)

In [41]:
console.log("5" - 1)

4

Yet in the third expression, + tries string concatenation before numeric addition, so the 1 is converted to "1" **(from number to string)**

In [42]:
console.log("5" + 1)

51

When something that doesn’t map to a number in an obvious way (such as "five" or undefined) is converted to a number, you get the value NaN

In [43]:
console.log("five" * 2)

NaN

When comparing values of the same type using ==,  you should get true when both values are the same, except in the case of NaN

In [44]:
console.log(false == 0)

true

But when the types differ, JavaScript tries to convert one of the values to the other value’s type

However, when null or undefined occurs on either side of the operator, it produces true only if both sides are one of null or undefined

In [45]:
console.log(null == undefined)

true

In [46]:
console.log(null == 0)

false

When you want to test whether a value has a real value instead of null or undefined, you can compare it to null with the == (or !=) operator

But what if you want to test whether something refers to the precise value false? Expressions like 0 == false and "" == false are also true because of automatic type conversion

**When you do not want any type conversions to happen,** there are two additional operators: **===** and **!==**

The first tests whether a value is precisely equal to the other, and the second tests whether it is not precisely equal. So "" === false is false as expected

## Short-circuiting of logical operators

The logical operators && and || handle values of different types in a peculiar way

They will convert the value on their **left side to Boolean** type in order to decide what to do, but depending on the operator and the result of that conversion, they will **return either the original left-hand value or the right-hand value**

The || operator, for example, will return the value to its left when that can be converted to true and will return the value on its right otherwise

In [47]:
console.log(null || "user")

user

In [48]:
console.log("Agnes" || "user")

Agnes

We can use this functionality as a way to fall back on a default value. **If you have a value that might be empty, you can put || after it with a replacement value.** If the initial value can be converted to false, you’ll get the replacement instead

The rules for converting strings and numbers to Boolean values state that **0, NaN, and the empty string ("") count as false,** while all the other values count as true

So 0 || -1 produces -1, and "" || "!?" yields "!?"

The && operator works similarly but the other way around

**When the value to its left is something that converts to false, it returns that value, and otherwise it returns the value on its right**

In [49]:
console.log(null && "user")

null

Another important property of these two operators is that **the part to their right is evaluated only when necessary**

In the case of true || X, no matter what X is, the result will be true, and X is never evaluated. The same goes for false && X, which is false and will ignore X. This is called short-circuit evaluation